.vh-100 {
    height: 100vh;
}

.grid-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.justify-align-items-center {
   justify-content: center;
   align-items: center;
}